.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;

  min-height: 100vh;

  background: linear-gradient(
  180deg,
  #f7f9f7 0%,
  #eef4ee 100%
);
}

.title {
  font-size: 22px;
  margin-bottom: 20px;
  color: #757575;
  font-weight: 600;
}

/* カード */
.card {
  width: 340px;

  background: #ffffff;
  padding: 24px;

  border-radius: 18px;

  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

/* フォーム */
.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* 入力 */
.input {
  padding: 12px 14px;

  border: 1px solid #C5E99B;
  border-radius: 12px;

  font-size: 14px;
  color: #757575;

  outline: none;
  transition: 0.2s;
}

.input:focus {
  border-color: #77AF9C;
  box-shadow: 0 0 0 3px rgba(119, 175, 156, 0.2);
}

/* ボタン */
.buttonPrimary {
  padding: 12px;

  background: #77AF9C;
  color: white;

  border: none;
  border-radius: 999px;

  cursor: pointer;
  font-weight: 600;

  transition: 0.2s;
}

.buttonPrimary:hover {
  background: #8CD790;
  transform: scale(1.02);
}

.buttonPrimary:active {
  transform: scale(0.98);
}

.logoutButton {
  padding: 12px;
  background: transparent;
  color: #757575;

  border: 1px solid #8CD790;
  border-radius: 999px;

  cursor: pointer;

  transition: 0.2s;
}

.logoutButton:hover {
  background: #C5E99B;
  transform: scale(1.02);
}