.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;

  height: 100vh;
  width: 100%;

  padding: 12px 12px 40px 12px;
  box-sizing: border-box;

  background: linear-gradient(180deg, #f7f9f7 0%, #eef4ee 100%);
  overflow: hidden;
}

/* 左右共通 */
.left,
.right {
  background: white;
  border-radius: 12px;
  padding: 12px;

  display: flex;
  flex-direction: column;

  color:#666;

  min-height: 0;
  overflow: hidden;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

/* =========================
   左：検索リスト
========================= */
.searchList {
  flex: 1;
  min-height: 0;

  overflow-y: auto;
  margin-top: 10px;
  padding-right: 4px;
}

/* =========================
   右：選択リスト
========================= */
.table {
  flex: 1;
  min-height: 0;

  overflow-y: auto;
}

/* =========================
   カード
========================= */
.card {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 10px;
  background: #fafafa;

  margin-bottom: 8px;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

/* ヘッダー */
.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 名前 */
.name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 追加ボタン */
.addButton {
  padding: 6px 10px;
  border-radius: 999px;
  border: none;
  background: #77AF9C;
  color: white;
  cursor: pointer;
}

.addButton:hover {
  background: #8CD790;
}

/* 削除ボタン */
.deleteButton {
  margin-left: auto;
  background: #ff5c5c;
  color: white;
  border: none;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.deleteButton:hover {
  background: #ff2e2e;
}

/* 栄養表示 */
.nutritionRow {
  display: flex;
  gap: 10px;
  margin-top: 6px;
  font-size: 12px;
  color: #666;
}

/* input */
.input {
  padding: 12px 14px;
  border: 1px solid #C5E99B;
  border-radius: 12px;
  font-size: 14px;
  color: #666;
  outline: none;
  transition: 0.2s;
  margin-bottom: 8px;
}

.input:focus {
  border-color: #77AF9C;
  box-shadow: 0 0 0 3px rgba(119, 175, 156, 0.2);
}

/* 合計 */
.total {
  margin-top: 10px;
  font-weight: bold;
}

/* ボタン */
.Button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 999px;
  border: none;
  background: #77AF9C;
  color: white;
  font-weight: bold;
}

.Button:hover {
  background: #8CD790;
}

/* =========================
   レスポンシブ
========================= */
@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    height: 100vh;
  }
}