.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;

  min-height: 100vh;
  background: linear-gradient(180deg, #C5E99B 0%, #8CD790 100%);
}

.title {
  font-size: 20px;
  margin-bottom: 20px;
  color: #757575;
  font-weight: 600;
}

/* カード化 */
.card {
  width: 420px;
  background: #ffffff;

  padding: 24px;
  border-radius: 18px;

  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

/* ラベル */
label {
  font-size: 12px;
  margin-top: 12px;
  display: block;
  color: #757575;
}

/* 入力 */
.input {
  width: 100%;
  padding: 12px 14px;

  margin-top: 6px;

  border: 1px solid #C5E99B;
  border-radius: 12px;

  font-size: 14px;
  color: #757575;

  outline: none;
  transition: 0.2s;
}

.input:focus {
  border-color: #77AF9C;
  box-shadow: 0 0 0 3px rgba(119, 175, 156, 0.2);
}

/* 横並び */
.row {
  display: flex;
  gap: 12px;
}

.row div {
  flex: 1;
}

/* 2カラム */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

/* 補助テキスト */
.subText {
  margin-top: 15px;
  font-size: 12px;
  color: #757575;
  opacity: 0.8;
}

/* エラー */
.error {
  color: #757575;
  font-size: 11px;
  margin-top: 4px;
  opacity: 0.8;
}

/* ボタン */
.button {
  margin-top: 20px;
  width: 100%;

  padding: 12px;

  background: #77AF9C;
  color: white;

  border: none;
  border-radius: 999px;

  cursor: pointer;
  font-weight: 600;

  transition: 0.2s;
}

.button:hover {
  background: #8CD790;
  transform: scale(1.02);
}

.button:active {
  transform: scale(0.98);
}